{% if request.user.is_authenticated %}
{% if user.author_status == 'author' %}

{%for author in author_info %}
<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-9 col-md-9 blog_details">
						<h2>{{author.name}} {{author.last_name}}</h2>
						<br>
						<p>{{author.about}}</p>
					</div>
                </div>
            </div>
            <div class="col-lg-4">
				<div class="blog_right_sidebar">
					<aside class="single_sidebar_widget author_widget">
						{%if author.photo%}
						<img class="author_img rounded-circle" src="{{author.photo.url}}" alt="" height="120" width="120">
						{%endif%}
					</aside>
				</div>
			</div>
        </div>
    </div>
</section>
{%endfor%}
{%else%}
<section class="blog_area single-post-area py-80px section-margin--small">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-9 col-md-9 blog_details">
						<h2>{{user.first_name}} {{user.last_name}} ({{user.username}})</h2>
						<br>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog_right_sidebar">
					<aside class="single_sidebar_widget author_widget">
						{%if user.photo%}
						<img class="author_img rounded-circle" src="{{user.photo.url}}" alt="" height="120" width="120">
						{%endif%}
					</aside>
				</div>
			</div>
		</div>
	</div>
</section>
{%endif%}
{%endif%}


	<!--================Product Description Area =================-->
