{% load static %}
<!--<section class="blog-banner-area" id="blog">-->
<!--    <div class="container h-100">-->
<!--        <div class="blog-banner">-->
<!--            <div class="text-center">-->
<!--                <h1>Shop Single</h1>-->
<!--                <nav aria-label="breadcrumb" class="banner-breadcrumb">-->
<!--                    <ol class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="#">Home</a></li>-->
<!--                        <li class="breadcrumb-item active" aria-current="page">Shop Single</li>-->
<!--                    </ol>-->
<!--                </nav>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- ================ end banner area ================= -->


<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <h3>{{book.title}}</h3>
        <br>
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div>
                    <div>
                        {% if book.photo1 %}
                        <img class="img-thumbnail" src="{{book.photo1.url}}" height="250" width="250">
                        {%endif%}
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <ul class="list">
                        <li><a><span>Цена:</span> {{book.price}} грн.</a></li>
                        {%for writer in writer %}
                        <li><a href="{{writer.get_absolute_url}}"><span>Автор:</span>  {{book.writer}}</a></li>
                        {%endfor%}
                        <li><a><span>Жанр:</span> {% for book in book.genre.all %} {{book }} {%endfor%}</a></li>

                    </ul>
                    <div class="card_area d-flex align-items-center">
                        <a class="button primary-btn" type="button" href="#">Купить</a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>

                    </div>
                    <br>
                    <div class="card_area d-flex align-items-center">
                        <a class="button primary-btn" type="button" href="#">Купить</a>
                        <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Описание</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Отзывы</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <ul class="list">
                    <div class="col-lg-6">
                        <div class="row total_rate">
                            <div class="col-6">
                                <div class="box_total">
                                    <h5>Средняя</h5>
                                    <h4>{{avg.avg|floatformat}}</h4>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating_list">
                                    {%for quality_count in quality_count%}
                                    <h3>Основано на {{quality_count.count}} оценках</h3>
                                    {%endfor%}
                                    <ul class="list">
                                        <li><a href="#">Отлично <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                                class="fa fa-star"></i><i class="fa fa-star"></i> 01</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {%for publisher in publisher %}
                     <li>Издательство:  <a href="{{publisher.get_absolute_url}}">{{book.publisher}}</a></li>
                        {%endfor%}
                </ul>
                <p>{{book.content}}</p>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                    <!-- Modal -->
                    <div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Добавить комментарий</h5>
                                </div>
                                <div class="modal-body" id="modal-body">
                                    <div class="review_box">
                                        {%if request.user.is_authenticated%}
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.non_field.errors }}
                                            {% for form in form %}
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <br>
                                                    <p>{{form.label}}: </p>
                                                    <p>{{form}}</p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <div class="col-md-12 text-right">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                <button type="submit" value="submit" class="btn btn-primary">Добавить</button>
                                            </div>
                                        </form>
                                        {%else%}
                                        <div class="comment-form">
                                            <h4>Написать комментарий</h4>
                                            <a href="{%url 'login'%}">Войдите</a> или <a href="{%url 'registration'%}">Зарегистрируйтесь</a> для написания комментария

                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                    {%endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6" id="div-body-box"></div>
                        <br>
                        <div class="review_list">
                            {%for user in user %}
                            {%for comment in comments %}
                            {% if user.id == comment.author_name_id %}
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        {% if user.photo %}
                                        <img src="{{user.photo.url}}" alt="" width="50" height="50">
                                        {%else%}
                                        <img src="{% static 'img/no_photo.png' %}" alt="" width="50" height="50">
                                        {%endif%}
                                    </div>

                                    <div class="media-body">
                                        {%if user.first_name%}
                                        <h4>{{user.first_name}} {{user.last_name}}</h4>
                                        {%else%}
                                        <h4>{{user.username}}</h4>
                                        {%endif%}

                                        <h5>{{comment.date|date:'d.m.Y '}}</h5>
                                    </div>
                                </div>
<!--                                <p>{{comment.quality}}</p>-->
                                <p>{{comment.comment}}</p>
                            </div>
                            {%endif%}
                            {%endfor%}
                            {%endfor%}
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<!--================ Start related Product area =================-->
<section class="related-product-area section-margin--small mt-0">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Top <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-1.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-2.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-3.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-4.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-5.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-6.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-7.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-8.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-9.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-1.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-2.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/product/product-sm-3.png" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">$170.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ end related Product area =================-->
