{% if request.user.is_authenticated %}

<section class="blog_area single-post-area py-80px section-margin--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post row">
                    <div class="col-lg-9 col-md-9 blog_details">
                        <h2>Привет, {{user.first_name}} {{user.last_name}} ({{user.username}})!</h2>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <a href="{% url 'author_create' %}"><button class="button button-subscribe mr-auto mb-1" type="submit">Редактировать профиль</button></a>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
{%endif%}



<!--================Product Description Area =================-->
